<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.UserDao">

	<resultMap type="User" id="UserResult">
		<result property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<select id="getByUsername" parameterType="String" resultMap="UserResult">
		select * from t_user where username=#{username}
	</select>
	
	<select id="getRoles" parameterType="String" resultType="java.lang.String">
		select r.rolename from t_user u,t_role r where u.roleid=r.id and u.username=#{username}
	</select>
	
	<select id="getPermissions" parameterType="String" resultType="java.lang.String">
		select p.permission_name from t_user u,t_role r,t_permission p where u.roleid=r.id and p.roleid=r.id and u.username=#{username}
	</select>

</mapper> 