<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>报表页面1</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<style>
			* {
				margin: 10px;
			}
		</style>
	</head>

	<body>
		<button id="reportBtn" class="btn btn-success">获取报表</button>

		<table class="table table-hover" style="display: none;">
			<caption>歌手信息</caption>
			<thead>
				<tr>
					<th>歌手名</th>
					<th>歌曲数</th>
				</tr>
			</thead>
			<tbody id="content">

			</tbody>
		</table>
	 <div id="main" style="width: 100%;height:500px;"></div>    
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdn.bootcss.com/echarts/3.7.2/echarts-en.js"></script>
		<script>
			$(function() {
				$("#reportBtn").click(function() {

					$("#content").empty();
					$("table").show(1000);
					var sname=[];
					var scount=[];
					$.ajax({
						url: "http://localhost:8080/web-ssm/show/findshow.do",
						type: "GET",
						asynch: true,
						dataType:"json",
						success: function(data) {
							for(var i=0;i<data.length;i++) {
								var show = data[i];
								sname.push(show.sname);
								scount.push(show.count);
								//1-创建tr节点
								$tr = $(document.createElement("tr"));
								for(j in show) {
									//2-创建td节点
									$td = $(document.createElement("td"));
									//3-向tr节点添加
									$td.text(show[j]);
									$tr.append($td);
								}
								//4-向#content添加tr节点
								$("#content").append($tr);
							}
							var myChart = echarts.init(document.getElementById('main'));
							option = {
								color: ['#3398DB'],
								tooltip : {
									trigger: 'axis',
									axisPointer : {            // 坐标轴指示器，坐标轴触发有效
										type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
									}
								},
								grid: {
									left: '3%',
									right: '4%',
									bottom: '3%',
									containLabel: true
								},
								xAxis : [
									{
										type : 'category',
										data : sname,
										axisTick: {
											alignWithLabel: true
										}
									}
								],
								yAxis : [
									{
										type : 'value'
									}
								],
								series : [
									{
										name:'直接访问',
										type:'bar',
										barWidth: '60%',
										data:scount
									}
								]
							};

							myChart.setOption(option);
						}
					});
				});
			});
		</script>
	</body>

</html>